@model TreinamentoWeb.Models.Aluno

<div class="modal fade" tabindex="-1" role="dialog" id="modalCadastroAluno" aria-labelledby="modalCadastroAlunoLabel">
    <form>
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalCadastroAlunoLabel">Aluno</h4>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-7 col-md-offset-1">
                            @Html.Label("Nome")
                            <div class="col-input">
                                @Html.TextBox("NomeAluno", null, new { @class = "form-control formItem", id = "nomeAluno" })
                            </div>                            
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            @Html.Label("Matricula")
                            <div class="col-input">
                                @Html.TextBox("MatriculaAluno", null, new { @class = "form-control formItem", id = "matriculaAluno" })
                            </div>                            
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            @Html.Label("Situação")
                            <div class="col-input">
                                @Html.EnumDropDownListFor(x => x.SituacaoAluno, null, new { @class = "form-control formItem", id = "situacaoAluno" })
                            </div>                            
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            @Html.Label("CPF")
                            <div class="col-input">
                                @Html.TextBox("CpfAluno", null, new { @class = "form-control formItem", id = "cpfAluno" })
                            </div>                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-7 col-md-offset-1">
                            @Html.Label("Nome Mãe")
                            <div class="col-input">
                                @Html.TextBox("NomeMae", null, new { @class = "form-control formItem", id = "nomeMae" })
                            </div>                            
                        </div>
                        <div class="col-md-9 col-md-offset-1">
                            @Html.Label("Curso")
                            <div class="col-input">
                                @Html.EnumDropDownListFor(x => x.CursoAluno, null, new { @class = "form-control formItem", id = "cursoAluno" })
                            </div>                            
                        </div>

                        <div class="col-md-4 col-md-offset-1">
                            @Html.Label("Data Nascimento")
                            <div class="col-input">
                                @Html.TextBox("DataNascAluno", null, new { @class = "form-control formItem", id = "dataNascAluno" })
                            </div>                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-22 col-md-offset-1">
                            @Html.Label("Observações")
                            <div class="col-input">
                                @Html.TextArea("Observacoes", new { @class = "form-control formItem", id = "observacoes" })
                            </div>                            
                        </div>                        
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="submit" class="btn btn-primary">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i> 
                        Salvar
                    </button>
                    <button type="button" id="cancel" class="btn btn-default" data-dismiss="modal">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                        Desistir
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>